/* 
    Created on : 27.04.2017, 10:23:22
    Author     : dimabresky
    Company : travelsoft
*/

.white-area {
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.main-info {
    margin-bottom: 20px;
}